<h2> Solución del problema propuesto del proyecto integrador

In [1]:
import pandas as pd
from datetime import datetime
import pyarrow

In [2]:
df_user= pd.read_parquet('user.parquet')
df_user

                   user_id  item_id  playtime_forever
0        76561197970982479       10                 6
1        76561197970982479       20                 0
2        76561197970982479       30                 7
3        76561197970982479       40                 0
4        76561197970982479       50                 0
...                    ...      ...               ...
5094100  76561198329548331   346330                 0
5094101  76561198329548331   373330                 0
5094102  76561198329548331   388490                 3
5094103  76561198329548331   521570                 4
5094104  76561198329548331   519140                 3

[5094105 rows x 3 columns]

In [3]:
df_review=pd.read_csv('review.csv')
df_review

                 user_id  item_id  recommend  sentiment_analysis  year
0      76561197970982479     1250       True                   2  2011
1      76561197970982479    22200       True                   2  2011
2      76561197970982479    43110       True                   2  2011
3                js41637   251610       True                   2  2014
4                js41637   227300       True                   0  2013
...                  ...      ...        ...                 ...   ...
59300  76561198312638244       70       True                   2  2023
59301  76561198312638244   362890       True                   2  2023
59302        LydiaMorley   273110       True                   2  2023
59303        LydiaMorley      730       True                   2  2023
59304        LydiaMorley      440       True                   2  2023

[59305 rows x 5 columns]

In [4]:
df_items=pd.read_csv('juego.csv')
df_items['price'].fillna(0, inplace=True)
df_items

,publisher,title,price,item_id,developer,release_year,Accounting,Action,Adventure,Animation &amp; Modeling,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,Kotoshiro,Lost Summoner Kitty,4.99,761140,Kotoshiro,2018,False,True,False,False,...,False,False,False,True,False,False,True,False,False,False
1,"Making Fun, Inc.",Ironbound,0.00,643980,Secret Level SRL,2018,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
2,Poolians.com,Real Pool 3D - Poolians,0.00,670290,Poolians.com,2017,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
3,彼岸领域,弹炸人2222,0.99,767400,彼岸领域,2017,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
4,NaN,NaN,2.99,773570,NaN,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32128,Ghost_RUS Games,Russian Roads,1.99,773640,"Nikita ""Ghost_RUS""",2018,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
32129,Sacada,EXIT 2 - Directions,4.99,733530,Sacada,2018,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
32130,Laush Studio,NaN,1.99,610660,Laush Dmitriy Sergeevich,2018,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
32131,SIXNAILS,NaN,4.99,658870,"xropi,stev3ns",2017,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
32132,NaN,NaN,4.99,681550,NaN,0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

<h1>solucion 1 problema

In [5]:
# importamos las columnas developer e item_id
df_dev=df_items[['developer', 'price', 'release_year']]

#borramos los valores nulos en developer
df_dev=df_dev.dropna(subset=['developer'])

df_dev=df_dev.sort_values(by='developer', ascending=True)
# Filtrar el DataFrame para excluir las filas con valores diferentes de 0 en 'price'
df_dev = df_dev[df_dev['price'] == 0]
df_dev

                                developer  price  release_year
30188                      11 bit studios    0.0          2013
10964                14 Hours Productions    0.0          2017
690                      1C: Maddox Games    0.0          2011
14292                        2-Volt Games    0.0          2017
24484  2Chance Projects,IIchan Eroge Team    0.0          2015
...                                   ...    ...           ...
11273                                弘原游戏    0.0          2017
14548                             拉貢拉斯找金粒    0.0          2017
32098                        杭州分浪网络科技有限公司    0.0          2018
14604                            深圳市云宙多媒体    0.0          2017
25224                             高考恋爱委员会    0.0          2015

[2779 rows x 3 columns]

indicamos los valores de la columna developer y cuantas veces se repite

In [6]:
df_dev['developer'].value_counts()

OVERKILL - a Starbreeze Studio.    40
KOEI TECMO GAMES CO., LTD.         27
Choice of Games                    22
Monster Games                      20
Daybreak Game Company              14
                                   ..
Guard Crush Games                   1
Grzegorz Slazinski                  1
Grynsoft                            1
Grundislav Games                    1
高考恋爱委员会                             1
Name: developer, Length: 2036, dtype: int64

como indica muchos desarrolladores, se hace un filtro eliminando los desarrolladores que tienen 1 juego gratis

In [7]:
valores = df_dev['developer'].value_counts() == 1

# Filtrar el DataFrame para excluir las filas con valores que se repiten solo una vez
df_dev = df_dev[~df_dev['developer'].isin(valores[valores].index)]
df_dev

                                    developer  price  release_year
29062             3D Realms (Apogee Software)    0.0          1990
29088             3D Realms (Apogee Software)    0.0          1990
29125             3D Realms (Apogee Software)    0.0          1991
29126             3D Realms (Apogee Software)    0.0          1993
15196                             4th cluster    0.0          2017
...                                       ...    ...           ...
27676                               roseVeRte    0.0          2011
8198                              studio wasp    0.0          2015
20363                             studio wasp    0.0          2014
24803  weltenbauer. Software Entwicklung GmbH    0.0          2015
25334  weltenbauer. Software Entwicklung GmbH    0.0          2015

[1084 rows x 3 columns]

se cuenta cuantas veces se repite cada valor de la columna developer

In [8]:
df_dev['developer'].value_counts()

OVERKILL - a Starbreeze Studio.           40
KOEI TECMO GAMES CO., LTD.                27
Choice of Games                           22
Monster Games                             20
Daybreak Game Company                     14
                                          ..
MAGIX Software GmbH                        2
MDickie                                    2
Manuel Pazos,Daniel Celemín                2
Matthew Brown                              2
weltenbauer. Software Entwicklung GmbH     2
Name: developer, Length: 341, dtype: int64

In [9]:
df_dev.rename(columns={'release_year': 'Año'}, inplace=True)

C:\Users\dario\AppData\Local\Temp\ipykernel_12508\1492299540.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dev.rename(columns={'release_year': 'Año'}, inplace=True)

se guarda el archivo para subir a fastapi y no use muchos recursos

In [10]:
df_dev.to_csv('1punto.csv', index=False)

se genera la solución sin fastapi

In [22]:
def developer(desarrollador: str):
    
    # Filtrar el DataFrame para obtener solo las filas correspondientes al desarrollador especificado
    df_filtrado = df_dev[df_dev['developer'] == desarrollador]

    # Calcular la cantidad de items por año
    cantidad_items_por_anio = df_filtrado.groupby('Año').size()

    # Calcular el porcentaje de contenido gratuito por año
    porcentaje_contenido_gratuito_por_anio = (df_filtrado.groupby('Año').size())/((cantidad_items_por_anio).sum())*100

    # Crear un nuevo DataFrame con los resultados
    resultado = pd.DataFrame({'Cantidad': cantidad_items_por_anio,
                              'Contenido Free': porcentaje_contenido_gratuito_por_anio})
    
    # Formatear el porcentaje con '%' al final
    resultado['Contenido Free'] = resultado['Contenido Free'].astype(str) + '%'

    return resultado

In [23]:
developer('3D Realms (Apogee Software)')

      Cantidad Contenido Free
Año
1990         2          50.0%
1991         1          25.0%
1993         1          25.0%

<h1>Solucion 2 problema

def userdata( User_id : str ): Debe devolver cantidad de dinero gastado por el usuario, el porcentaje de recomendación en base a reviews.recommend y cantidad de items.

Se hace un merge entre los diferentes dataframe para dar solución al 2 problema

In [24]:
# Realiza la relación entre df_user y df_item en base a 'item_id' y agrega la columna 'price' de df_item
df_datauser = pd.merge(df_user[['user_id', 'item_id']], df_items[['item_id', 'price']], on='item_id', how='left')
df_datauser = pd.merge(df_datauser, df_review[['user_id', 'item_id', 'recommend']], on=['user_id', 'item_id'], how='left')

# la columna 'user_id' se pasara a minusculas
df_datauser['user_id'] = df_datauser['user_id'].str.lower()
df_datauser

                   user_id  item_id  price recommend
0        76561197970982479       10   9.99       NaN
1        76561197970982479       20   4.99       NaN
2        76561197970982479       30   4.99       NaN
3        76561197970982479       40   4.99       NaN
4        76561197970982479       50   4.99       NaN
...                    ...      ...    ...       ...
5094805  76561198329548331   346330   0.00       NaN
5094806  76561198329548331   373330   0.00       NaN
5094807  76561198329548331   388490   0.00       NaN
5094808  76561198329548331   521570   0.00       NaN
5094809  76561198329548331   519140    NaN       NaN

[5094810 rows x 4 columns]

In [25]:
#se revisa los valores nulos en la columna
df_datauser['recommend'].isnull().sum()

5049918

In [26]:
# Reemplaza los valores nulos en la columna 'recommend' por False
df_datauser['recommend'].fillna(False, inplace=True)

se borra la columna item_id para liberar espacio

In [30]:
df_datauser = df_datauser.drop(columns=['item_id'])

se genera un parquet para utilizar con fastapi

In [32]:

df_datauser.to_parquet('2punto.parquet', index=False)

In [27]:
def userdata(user_id: str):
    user_id = user_id.lower()
    comprobar = list(set(df_datauser['user_id']))
    if user_id in comprobar:
           
         # Filtrar el DataFrame por el usuario especificado
        user_data = df_datauser[df_datauser['user_id'] == user_id]
        
        # Contar las repeticiones del usuario
        contador = user_data.shape[0]
        
        # Sumar la columna 'price' para las filas correspondientes al usuario
        suma_precios = user_data['price'].sum()
        # Filtrar las filas donde la columna 'recommend' es True y luego sumar esos valores para dividirlos entre el contador
        promedio = (user_data[user_data['recommend'] == True]['recommend'].sum())*100/contador


        print(f"El usuario {user_id} tiene {contador} items.")
        print(f"La suma dinero gastado para este usuario es: {suma_precios}")
        print(f"El porcentaje de recomendaciones para este usuario es: {promedio:.2f} %")
    
        return 
    else:
        print('Ingrese nuevamente el usuario')
        return

Se realiza una prueba de la función ingresando un id_user

In [33]:
userdata('76561197970982479')

El usuario 76561197970982479 tiene 277 items.
La suma dinero gastado para este usuario es: 3424.31
El porcentaje de recomendaciones para este usuario es: 1.08 %

<h1> Solución problema 2

def countreviews( YYYY-MM-DD y YYYY-MM-DD : str ): Cantidad de usuarios que realizaron reviews entre las fechas dadas y, el porcentaje de recomendación de los mismos en base a reviews.recommend.

In [13]:
# Convertir la columna 'year' en una variable de tiempo
df_review['year'] = pd.to_datetime(df_review['year'], format='%Y')

In [14]:

def countreviews(start_date, end_date: str):
    # Convertir las fechas de inicio y fin en objetos datetime
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)

    # Filtrar el DataFrame para obtener las revisiones en el rango de fechas
    filtered_df = df_review[(df_review['year'] >= start_date)& (df_review['year'] <= end_date)]

        
    # Contar los comentarios hechos por los usuarios
    cont = filtered_df.shape[0]  
    
    porcentaje = (filtered_df[filtered_df['recommend'] == True]['recommend'].sum())*100/cont

    print(f'Cantidad de usuarios que realizaron reviews entre las fechas {start_date} y {end_date} es de: {cont}')
    print(f"El porcentaje de juegos que fueron recomendados es: {porcentaje:.2f} %")
    
    return

Se realiza una prueba ingresando dos fechas con el formato YYYY-MM-DD  YYYY-MM-DD

In [15]:
countreviews('2011-01-01', '2012-12-31')

Cantidad de usuarios que realizaron reviews entre las fechas 2011-01-01 00:00:00 y 2012-12-31 00:00:00 es de: 1747
El porcentaje de juegos que fueron recomendados es: 98.63 %

<h1> Solución problema 3

def genre( género : str ): Devuelve el puesto en el que se encuentra un género sobre el ranking de los mismos analizado bajo la columna PlayTimeForever.

In [16]:
# Realiza la relación entre df_user y df_item en base a 'item_id' 
df_genre = pd.merge(df_user, df_items, on='item_id', how='right')
df_genre

,user_id,item_id,playtime_forever,publisher,title,price,developer,release_year,Accounting,Action,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
0,NaN,761140,NaN,Kotoshiro,Lost Summoner Kitty,4.99,Kotoshiro,2018,False,True,...,False,False,False,True,False,False,True,False,False,False
1,NaN,643980,NaN,"Making Fun, Inc.",Ironbound,0.00,Secret Level SRL,2018,False,False,...,False,True,False,False,False,False,True,False,False,False
2,NaN,670290,NaN,Poolians.com,Real Pool 3D - Poolians,0.00,Poolians.com,2017,False,False,...,False,False,False,True,False,True,False,False,False,False
3,NaN,767400,NaN,彼岸领域,弹炸人2222,0.99,彼岸领域,2017,False,True,...,False,False,False,False,False,False,False,False,False,False
4,NaN,773570,NaN,NaN,NaN,2.99,NaN,0,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4267767,NaN,773640,NaN,Ghost_RUS Games,Russian Roads,1.99,"Nikita ""Ghost_RUS""",2018,False,False,...,False,False,False,True,False,False,True,False,False,False
4267768,NaN,733530,NaN,Sacada,EXIT 2 - Directions,4.99,Sacada,2018,False,False,...,False,False,False,False,False,False,True,False,False,False
4267769,NaN,610660,NaN,Laush Studio,NaN,1.99,Laush Dmitriy Sergeevich,2018,False,False,...,False,False,True,True,False,False,False,False,False,False
4267770,NaN,658870,NaN,SIXNAILS,NaN,4.99,"xropi,stev3ns",2017,False,False,...,False,False,False,False,False,False,False,False,False,False
4267771,NaN,681550,NaN,NaN,NaN,4.99,NaN,0,False,False,...,False,False,False,False,False,False,False,False,False,False

Se elimina las filas que contienen nulos en la columna user_id y se convierte la columna playtime_forever a int64 para reducir espacio

In [18]:
df_genre=df_genre.dropna(subset=['user_id'])

df_genre['playtime_forever'] = df_genre['playtime_forever'].astype('int64')

df_genre

,user_id,item_id,playtime_forever,publisher,title,price,developer,release_year,Accounting,Action,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
27,UTNerd24,282010,5,Stainless Games Ltd,Carmageddon Max Pack,9.99,Stainless Games Ltd,1997,False,True,...,False,False,True,False,False,False,False,False,False,False
28,I_DID_911_JUST_SAYING,282010,0,Stainless Games Ltd,Carmageddon Max Pack,9.99,Stainless Games Ltd,1997,False,True,...,False,False,True,False,False,False,False,False,False,False
29,76561197962104795,282010,0,Stainless Games Ltd,Carmageddon Max Pack,9.99,Stainless Games Ltd,1997,False,True,...,False,False,True,False,False,False,False,False,False,False
30,r3ap3r78,282010,0,Stainless Games Ltd,Carmageddon Max Pack,9.99,Stainless Games Ltd,1997,False,True,...,False,False,True,False,False,False,False,False,False,False
31,saint556,282010,13,Stainless Games Ltd,Carmageddon Max Pack,9.99,Stainless Games Ltd,1997,False,True,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4267750,76561198273508956,80,0,Valve,Robotpencil Presents: Creative Composition,9.99,Valve,2004,False,True,...,False,False,False,False,False,False,False,False,False,False
4267751,76561198282090798,80,0,Valve,Robotpencil Presents: Creative Composition,9.99,Valve,2004,False,True,...,False,False,False,False,False,False,False,False,False,False
4267752,943525,80,0,Valve,Robotpencil Presents: Creative Composition,9.99,Valve,2004,False,True,...,False,False,False,False,False,False,False,False,False,False
4267753,76561198283312749,80,9,Valve,Robotpencil Presents: Creative Composition,9.99,Valve,2004,False,True,...,False,False,False,False,False,False,False,False,False,False
4267754,76561198312638244,80,99,Valve,Robotpencil Presents: Creative Composition,9.99,Valve,2004,False,True,...,False,False,False,False,False,False,False,False,False,False

Se eliminan las columnas 'publisher', 'title', 'price', 'developer', 'release_year' que no se van a usar en las preguntas 3 y 4

In [19]:
df_genre = df_genre.drop(columns=['publisher', 'title', 'price', 'developer', 'release_year'])
df_genre

,user_id,item_id,playtime_forever,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
27,UTNerd24,282010,5,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
28,I_DID_911_JUST_SAYING,282010,0,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
29,76561197962104795,282010,0,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
30,r3ap3r78,282010,0,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
31,saint556,282010,13,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4267750,76561198273508956,80,0,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4267751,76561198282090798,80,0,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4267752,943525,80,0,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4267753,76561198283312749,80,9,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4267754,76561198312638244,80,99,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

se borra las filas que tienen valores 0 en las columnas playtime_forever, ya que no se las usara para los puntos 3 y 4 de la funcion

In [39]:
df_genre = df_genre.loc[~((df_genre['playtime_forever'] == 0) )]
df_genre

,user_id,item_id,playtime_forever,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
27,UTNerd24,282010,5,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
31,saint556,282010,13,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
32,chidvd,282010,110,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
33,aerpub,282010,13,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
34,lucifer666678,282010,8,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4267744,76561198208507532,80,203,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4267746,76561198221578852,80,244,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4267747,EnVyIsSmexy,80,7,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4267753,76561198283312749,80,9,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4267754,76561198312638244,80,99,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [20]:
# Reemplaza True por su equivalente en la columna "playtime_forever" para las de los generos para su posterior analisis
df_genre[df_genre.columns[3:]] = df_genre[df_genre.columns[3:]].multiply(df_genre['playtime_forever'], axis='index')

df_genre

,user_id,item_id,playtime_forever,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
27,UTNerd24,282010,5,0,5,0,0,0,0,0,...,0,0,5,0,0,0,0,0,0,0
28,I_DID_911_JUST_SAYING,282010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,76561197962104795,282010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,r3ap3r78,282010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,saint556,282010,13,0,13,0,0,0,0,0,...,0,0,13,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4267750,76561198273508956,80,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4267751,76561198282090798,80,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4267752,943525,80,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4267753,76561198283312749,80,9,0,9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4267754,76561198312638244,80,99,0,99,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Se realiza un diccionario con la suma de cada genero basado en playtime_forever de cda usuario y se los ordena de mayor a menor

In [36]:
# Calcula la suma total de cada columna y crea el diccionario puestos_genre
puestos_genre = df_genre[df_genre.columns[3:]].sum().to_dict()

# Ordena el diccionario de mayor a menor según los valores
puestos_genre = dict(sorted(puestos_genre.items(), key=lambda x: x[1], reverse=True))

puestos_genre

NameError: name 'df_genre' is not defined

Se coloca los puestos de cada genero

In [22]:
# Valor inicial
valor_incremental = 1

# Recorrer las claves del diccionario y asignar valores incrementales
for clave in puestos_genre.keys():
    puestos_genre[clave] = valor_incremental
    valor_incremental += 1

# Imprimir el diccionario con los valores reemplazados
puestos_genre

{'Action': 1,
 'Indie': 2,
 'RPG': 3,
 'Adventure': 4,
 'Simulation': 5,
 'Strategy': 6,
 'Free to Play': 7,
 'Massively Multiplayer': 8,
 'Casual': 9,
 'Early Access': 10,
 'Sports': 11,
 'Racing': 12,
 'Utilities': 13,
 'Design &amp; Illustration': 14,
 'Web Publishing': 15,
 'Video Production': 16,
 'Animation &amp; Modeling': 17,
 'Software Training': 18,
 'Audio Production': 19,
 'Education': 20,
 'Photo Editing': 21,
 'Accounting': 22}

Se hace la función basada para usar en la API

In [25]:
def genre(genero: str):
    if genero in puestos_genre:
        valor = puestos_genre[genero]
        print(f"El género '{genero}' se encuentra en el puesto {valor}")
    else:
        print(f"El género '{genero}' no se encuentra en el diccionario")

se realiza una prueba ingresando un genero

In [28]:
# Se ingresa el genero para saber su ranking
genre('Action')

El género 'Action' se encuentra en el puesto 1

<h1>solución problema 4

def userforgenre( género : str ): Top 5 de usuarios con más horas de juego en el género dado, con su URL (del user) y user_id.

Se carga el csv que contiene el usuario su user_id con su respectivo user_url

In [34]:
df_urluser=pd.read_csv('usuarios_id_url.csv')
df_urluser

                 user_id                                           user_url
0      76561197970982479  http://steamcommunity.com/profiles/76561197970...
1                js41637               http://steamcommunity.com/id/js41637
2              evcentric             http://steamcommunity.com/id/evcentric
3             Riot-Punch            http://steamcommunity.com/id/Riot-Punch
4                  doctr                 http://steamcommunity.com/id/doctr
...                  ...                                                ...
70907  76561198320136420  http://steamcommunity.com/profiles/76561198320...
70908          ArkPlays7             http://steamcommunity.com/id/ArkPlays7
70909  76561198323066619  http://steamcommunity.com/profiles/76561198323...
70910  76561198326700687  http://steamcommunity.com/profiles/76561198326...
70911  76561198329548331  http://steamcommunity.com/profiles/76561198329...

[70912 rows x 2 columns]

In [35]:
#se agrupa por usuario y se suma las demas columnas para obtener las horas jugadas de cada usuario por genero
df_genre_user = df_genre.groupby('user_id').sum(numeric_only=True)

#se elimina las columnas item_id y playtime_forever
df_genre_user = df_genre_user.drop(['item_id', 'playtime_forever'], axis=1)

df_genre_user

NameError: name 'df_genre' is not defined

se fusiona (merge) entre dos DataFrames, df_genre_user y df_urluser, utilizando la columna 'user_id' como clave de fusión

In [124]:
df_genre_user=df_genre_user.merge(df_urluser, on='user_id', how='left')
df_genre_user

,user_id,Accounting,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,Early Access,Education,...,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing,user_url
0,--000--,0,139469,11722,0,0,16135,0,531,0,...,7362,0,1248,0,5963,656,0,0,0,http://steamcommunity.com/id/--000--
1,--ace--,0,69325,4861,0,0,3775,0,0,0,...,1335,6,334,0,0,1413,0,0,0,http://steamcommunity.com/id/--ace--
2,--ionex--,0,38315,1939,0,0,831,0,0,0,...,1407,0,420,0,0,225,0,0,0,http://steamcommunity.com/id/--ionex--
3,-2SV-vuLB-Kg,0,42500,8108,0,0,4988,0,240,0,...,4984,395,1408,0,0,4066,0,0,0,http://steamcommunity.com/id/-2SV-vuLB-Kg
4,-404PageNotFound-,0,117423,21098,0,0,11177,0,580,0,...,17831,1933,101834,0,325,23008,0,0,0,http://steamcommunity.com/id/-404PageNotFound-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68707,zzonci,0,0,0,0,0,429,0,0,0,...,429,0,0,0,0,0,0,0,0,http://steamcommunity.com/id/zzonci
68708,zzoptimuszz,0,74582,66753,0,0,67450,0,103,0,...,60067,0,1760,0,106,4389,0,0,0,http://steamcommunity.com/id/zzoptimuszz
68709,zzydrax,0,1194,255,0,0,0,0,255,0,...,255,0,3446,0,0,0,0,0,0,http://steamcommunity.com/id/zzydrax
68710,zzyfo,0,16512,2919,0,0,7734,0,0,0,...,521,316,3052,0,46,5228,0,0,0,http://steamcommunity.com/id/zzyfo
68711,zzzmidmiss,0,8885,1093,0,0,534,0,6,0,...,2337,9,16,0,210,1002,0,0,0,http://steamcommunity.com/id/zzzmidmiss

la función encuentra y muestra el top 5 de usuarios con más horas jugadas en un género de juego específico.

In [126]:
def userforgenre( genero : str ):
    
    #encuentra las filas de los primeros 5 valores basada en genero que ingresa
    top5 = df_genre_user.nlargest(5, genero)
    
    print(f"el top 5 de usuarios de horas jugadas segun el genero '{genero}' es:")
    print(top5[['user_id','user_url',genero]].to_string(index=False))

Se realiza una prueba ingresando un genero

In [127]:
userforgenre('Adventure')

el top 5 de usuarios de horas jugadas segun el genero 'Adventure' es:
     user_id                                  user_url  Adventure
REBAS_AS_F-T http://steamcommunity.com/id/REBAS_AS_F-T    2191551
 shinomegami  http://steamcommunity.com/id/shinomegami     767160
 Evilutional  http://steamcommunity.com/id/Evilutional     662103
     Sp3ctre      http://steamcommunity.com/id/Sp3ctre     654378
    tobscene     http://steamcommunity.com/id/tobscene     640783

<h1>solución problema 5

def developer( desarrollador : str ): Cantidad de items y porcentaje de contenido Free por año según empresa desarrolladora.

In [185]:
# importamos las columnas developer e item_id
df_dev=df_items[['developer', 'price', 'release_year']]

#borramos los valores nulos en developer
df_dev=df_dev.dropna(subset=['developer'])

df_dev=df_dev.sort_values(by='developer', ascending=True)
# Filtrar el DataFrame para excluir las filas con valores diferentes de 0 en 'price'
df_dev = df_dev[df_dev['price'] == 0]
df_dev

                                developer  price  release_year
30188                      11 bit studios    0.0          2013
10964                14 Hours Productions    0.0          2017
690                      1C: Maddox Games    0.0          2011
14292                        2-Volt Games    0.0          2017
24484  2Chance Projects,IIchan Eroge Team    0.0          2015
...                                   ...    ...           ...
11273                                弘原游戏    0.0          2017
14548                             拉貢拉斯找金粒    0.0          2017
32098                        杭州分浪网络科技有限公司    0.0          2018
14604                            深圳市云宙多媒体    0.0          2017
25224                             高考恋爱委员会    0.0          2015

[2779 rows x 3 columns]

<h1>solución problema 6

def sentiment_analysis( año : int ): Según el año de lanzamiento, se devuelve una lista con la cantidad de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento.

In [231]:
df_review

                 user_id  item_id  recommend  sentiment_analysis  year
0      76561197970982479     1250       True                   2  2011
1      76561197970982479    22200       True                   2  2011
2      76561197970982479    43110       True                   2  2011
3                js41637   251610       True                   2  2014
4                js41637   227300       True                   0  2013
...                  ...      ...        ...                 ...   ...
59300  76561198312638244       70       True                   2  2023
59301  76561198312638244   362890       True                   2  2023
59302        LydiaMorley   273110       True                   2  2023
59303        LydiaMorley      730       True                   2  2023
59304        LydiaMorley      440       True                   2  2023

[59305 rows x 5 columns]

se extrae de df_review las columnas sentiment_analysis y year

In [232]:
df_sent=df_review[['sentiment_analysis', 'year']]
df_sent

       sentiment_analysis  year
0                       2  2011
1                       2  2011
2                       2  2011
3                       2  2014
4                       0  2013
...                   ...   ...
59300                   2  2023
59301                   2  2023
59302                   2  2023
59303                   2  2023
59304                   2  2023

[59305 rows x 2 columns]

In [239]:
df_sent['sentiment_analysis'].value_counts()

sentiment_analysis
2    33703
1    12816
0    12786
Name: count, dtype: int64

se realiza la función

In [304]:
def sentiment_analysis(anio: int):
    # Filtrar el DataFrame para obtener solo las filas con el año especificado
    df_filtrado = df_sent[df_sent['year'] == anio]

    # Contar la frecuencia de cada valor en la columna 'sentiment_analysis'
    conteo_sentimientos = df_filtrado['sentiment_analysis'].value_counts()
    
    print(f"Análisis de sentimiento para el año {anio}: Negative: {conteo_sentimientos[0]}, Neutral: {conteo_sentimientos[1]}, Positive: {conteo_sentimientos[2]}")

Se realiza la prueba colocando un año del 2011 al 2023 a continuación

In [307]:
sentiment_analysis(2011)

Análisis de sentimiento para el año 2011: Negative: 95, Neutral: 70, Positive: 367