In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('items.csv')

In [4]:
df

,user_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6,0
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0,0
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7,0
3,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0,0
4,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...,...
5272418,76561198329548331,http://steamcommunity.com/profiles/76561198329...,346330,BrainBread 2,0,0
5272419,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330,All Is Dust,0,0
5272420,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490,One Way To Die: Steam Edition,3,3
5272421,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570,You Have 10 Seconds 2,4,4
5272422,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140,Minds Eyes,3,3

In [16]:
df[df['user_id']== 'js41637']

,user_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
277,js41637,http://steamcommunity.com/id/js41637,10,Counter-Strike,0,0
278,js41637,http://steamcommunity.com/id/js41637,80,Counter-Strike: Condition Zero,0,0
279,js41637,http://steamcommunity.com/id/js41637,100,Counter-Strike: Condition Zero Deleted Scenes,0,0
280,js41637,http://steamcommunity.com/id/js41637,300,Day of Defeat: Source,220,0
281,js41637,http://steamcommunity.com/id/js41637,30,Day of Defeat,0,0
...,...,...,...,...,...,...
1160,js41637,http://steamcommunity.com/id/js41637,473450,The Narrator is a DICK,831,0
1161,js41637,http://steamcommunity.com/id/js41637,485330,Star Drifter,237,0
1162,js41637,http://steamcommunity.com/id/js41637,485890,Summer Sale,251,0
1163,js41637,http://steamcommunity.com/id/js41637,491330,12 Labours of Hercules V: Kids of Hellas,285,0
1164,js41637,http://steamcommunity.com/id/js41637,397060,Faeria,0,0

Se busca si hay filas duplicadas

In [24]:
# Encontrar las filas con valores duplicados 
filas_duplicadas = df[df.duplicated(subset=['user_id', 'item_id', 'playtime_forever', 'playtime_2weeks'], keep=False)]

# filas_duplicadas contendrÃ¡ las filas con valores duplicados en ambas columnas 'user_id' y 'item_id'
filas_duplicadas

,user_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
4344,76561198156664158,http://steamcommunity.com/profiles/76561198156...,4000,Garry's Mod,269,0
4345,76561198156664158,http://steamcommunity.com/profiles/76561198156...,4000,Garry's Mod,269,0
4346,76561198156664158,http://steamcommunity.com/profiles/76561198156...,33910,Arma 2,162,0
4347,76561198156664158,http://steamcommunity.com/profiles/76561198156...,33910,Arma 2,162,0
4348,76561198156664158,http://steamcommunity.com/profiles/76561198156...,33930,Arma 2: Operation Arrowhead,223,0
...,...,...,...,...,...,...
5017437,76561198080057659,http://steamcommunity.com/profiles/76561198080...,261030,The Walking Dead: Season Two,253,0
5017438,76561198080057659,http://steamcommunity.com/profiles/76561198080...,273110,Counter-Strike Nexon: Zombies,0,0
5017439,76561198080057659,http://steamcommunity.com/profiles/76561198080...,273110,Counter-Strike Nexon: Zombies,0,0
5017440,76561198080057659,http://steamcommunity.com/profiles/76561198080...,730,Counter-Strike: Global Offensive,0,0
5017441,76561198080057659,http://steamcommunity.com/profiles/76561198080...,730,Counter-Strike: Global Offensive,0,0

Al encontrar filas duplicadas se eliminarÃ¡ las filas duplicadas manteniendo la primera apariciÃ³n de cada fila duplicada.

In [37]:
# Encontrar las filas duplicadas considerando todos los valores de la fila
filas_duplicadas = df[df.duplicated(keep='first')]

# Eliminar las filas duplicadas y mantener la primera apariciÃ³n
df= df.drop_duplicates(keep='first')
# se vuelve a hacer el conteo del index
df= df.reset_index(drop=True)
df

,user_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6,0
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0,0
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7,0
3,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0,0
4,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...,...
5094100,76561198329548331,http://steamcommunity.com/profiles/76561198329...,346330,BrainBread 2,0,0
5094101,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330,All Is Dust,0,0
5094102,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490,One Way To Die: Steam Edition,3,3
5094103,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570,You Have 10 Seconds 2,4,4
5094104,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140,Minds Eyes,3,3

se extrae las columnas user_id y user_url para en un futuro ahorrar recursos en el df, asi relacionar user_url con user_id

In [46]:
#se extrae las columnas user_id y user_url
df_user= df[['user_id','user_url']]
#se elimina duplicados de los usuarios
df_user= df_user.drop_duplicates(keep='first')
df_user= df_user.reset_index(drop=True)
df_user

                 user_id                                           user_url
0      76561197970982479  http://steamcommunity.com/profiles/76561197970...
1                js41637               http://steamcommunity.com/id/js41637
2              evcentric             http://steamcommunity.com/id/evcentric
3             Riot-Punch            http://steamcommunity.com/id/Riot-Punch
4                  doctr                 http://steamcommunity.com/id/doctr
...                  ...                                                ...
70907  76561198320136420  http://steamcommunity.com/profiles/76561198320...
70908          ArkPlays7             http://steamcommunity.com/id/ArkPlays7
70909  76561198323066619  http://steamcommunity.com/profiles/76561198323...
70910  76561198326700687  http://steamcommunity.com/profiles/76561198326...
70911  76561198329548331  http://steamcommunity.com/profiles/76561198329...

[70912 rows x 2 columns]

se extrae en un csv esta lista para relacionarlos en un futuro

In [47]:
df_user.to_csv('usuarios_id_url.csv', index=False)

ahora que se guarda la relaciÃ³n usuarios id con su url se borra del DF la columna user_url

In [50]:
df=df.drop('user_url', axis=1)

KeyError: "['user_url'] not found in axis"

In [51]:
df

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10,Counter-Strike,6,0
1,76561197970982479,20,Team Fortress Classic,0,0
2,76561197970982479,30,Day of Defeat,7,0
3,76561197970982479,40,Deathmatch Classic,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...
5094100,76561198329548331,346330,BrainBread 2,0,0
5094101,76561198329548331,373330,All Is Dust,0,0
5094102,76561198329548331,388490,One Way To Die: Steam Edition,3,3
5094103,76561198329548331,521570,You Have 10 Seconds 2,4,4
5094104,76561198329548331,519140,Minds Eyes,3,3

In [54]:
df_item= df[['item_id','item_name']]
#se elimina duplicados de los items
df_item= df_item.drop_duplicates(keep='first')
df_item= df_item.reset_index(drop=True)
df_item

       item_id                                     item_name
0           10                                Counter-Strike
1           20                         Team Fortress Classic
2           30                                 Day of Defeat
3           40                            Deathmatch Classic
4           50                     Half-Life: Opposing Force
...        ...                                           ...
10973   375450  NOBUNAGA'S AMBITION: Souzou SengokuRisshiden
10974   353390                       Alienware Steam Machine
10975   354280                                    ChaosTower
10976   433920                 Aveyond 4: Shadow Of The Mist
10977   485270                                 Arachnophobia

[10978 rows x 2 columns]

se extrae en un csv esta lista para relacionarlos en un futuro

In [56]:
df_item.to_csv('item_id_name.csv', index=False)

ahora que se guarda la relaciÃ³n item id con su nombre se borra del DF la columna item_name

In [57]:
df=df.drop('item_name', axis=1)
df

                   user_id  item_id  playtime_forever  playtime_2weeks
0        76561197970982479       10                 6                0
1        76561197970982479       20                 0                0
2        76561197970982479       30                 7                0
3        76561197970982479       40                 0                0
4        76561197970982479       50                 0                0
...                    ...      ...               ...              ...
5094100  76561198329548331   346330                 0                0
5094101  76561198329548331   373330                 0                0
5094102  76561198329548331   388490                 3                3
5094103  76561198329548331   521570                 4                4
5094104  76561198329548331   519140                 3                3

[5094105 rows x 4 columns]

In [74]:
df

                   user_id  item_id  playtime_forever  playtime_2weeks
0        76561197970982479       10                 6                0
1        76561197970982479       20                 0                0
2        76561197970982479       30                 7                0
3        76561197970982479       40                 0                0
4        76561197970982479       50                 0                0
...                    ...      ...               ...              ...
5094100  76561198329548331   346330                 0                0
5094101  76561198329548331   373330                 0                0
5094102  76561198329548331   388490                 3                3
5094103  76561198329548331   521570                 4                4
5094104  76561198329548331   519140                 3                3

[5094105 rows x 4 columns]

In [76]:

df1=df

In [77]:
df.to_csv('user_playtime1.csv', index=False)